<a href="https://colab.research.google.com/github/MathewLipman/Work-Samples/blob/main/Creating_A_SQL_TABLE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import sqlite3
import pandas as pd

In [ ]:
sqlite3

In [ ]:
conn = sqlite3.connect('/content/drive/MyDrive/Dataset/chinook.db')

In [ ]:
q1 ='''
CREATE TABLE usertesting (
    user_id INTEGER,
    first_name TEXT,
    last_name TEXT
);
'''
# Execute the query
conn.execute(q1)

# Commit changes and close the connection
conn.commit()

In [ ]:

q2 = '''
SELECT *
FROM usertesting;
'''

pd.read_sql_query(q2, conn)

Empty DataFrame
Columns: [user_id, first_name, last_name]
Index: []

In [ ]:
q3 = '''
CREATE TABLE testa (
    user_id INTEGER PRIMARY KEY,
    first_name TEXT,
    last_name TEXT
);
'''
conn.execute(q3)

In [ ]:
q4 = '''
CREATE TABLE purchase (
    purchase_id INTEGER PRIMARY KEY,
    user_id INTEGER,
    purchase_date TEXT,
    total NUMERIC,
    FOREIGN KEY (user_id) REFERENCES user(user_id)
);
''' 
conn.execute(q4)

In [ ]:
q5 ='''

CREATE TABLE wishlist (
    wishlist_id INTEGER PRIMARY KEY,
    customer_id INTEGER,
    name TEXT,
    FOREIGN KEY (customer_id) REFERENCES customer(customer_id)
);
''' 
conn.execute(q5)

In [ ]:
q6 = '''
CREATE TABLE wishlist_track (
    wishlist_id INTEGER,
    track_id INTEGER,
    PRIMARY KEY (wishlist_id, track_id),
    FOREIGN KEY (wishlist_id) REFERENCES wishlist(wishlist_id),
    FOREIGN KEY (track_id) REFERENCES track(track_id)
);
''' 
conn.execute(q6)

In [ ]:
pd.read_sql_query('SELECT * FROM wishlist', conn)

Empty DataFrame
Columns: [wishlist_id, customer_id, name]
Index: []

In [ ]:
q7 = '''
INSERT INTO wishlist
VALUES
    (1, 34, "Joao's awesome wishlist"),
    (2, 18, "Amy loves pop");
'''
conn.execute(q7)

Warning: ignored

In [ ]:
q8 = '''
INSERT INTO wishlist_track
VALUES
    (1, 1158),
    (1, 2646),
    (1, 1990),
    (2, 3272),
    (2, 3470);
'''
conn.execute(q8)

In [ ]:
q9 = '''
SELECT *
FROM wishlist
'''
pd.read_sql_query(q9, conn)

   wishlist_id  customer_id                     name
0            1           34  Joao's awesome wishlist
1            2           18            Amy loves pop

In [ ]:
q10 = '''
SELECT *
FROM wishlist_track
'''
pd.read_sql_query(q10, conn)

   wishlist_id  track_id
0            1      1158
1            1      2646
2            1      1990
3            2      3272
4            2      3470

In [ ]:
q11 = '''
ALTER TABLE wishlist
ADD COLUMN active NUMERIC;
'''
conn.execute(q11)

In [ ]:
q12 ='''
ALTER TABLE wishlist_track
ADD COLUMN active NUMERIC;
'''
conn.execute(q12)

In [ ]:
q13 ='''
UPDATE wishlist
SET active = 1;
'''
conn.execute(q13)
q14='''
UPDATE wishlist_track
SET active = 1;
'''
conn.execute(q14)

In [ ]:
q14 ='''
ALTER TABLE invoice
ADD COLUMN tax NUMERIC;
'''
conn.execute(q14)
q15 ='''
ALTER TABLE invoice
ADD COLUMN subtotal NUMERIC;
'''
conn.execute(q15)
q16 ='''
UPDATE invoice
SET
    tax = 0,
    subtotal = total;
'''
conn.execute(q16)

In [ ]:
q14 ='''
ALTER TABLE invoice
ADD COLUMN tax NUMERIC;
'''
conn.execute(q14)

OperationalError: ignored

In [53]:
q15 = '''
SELECT
    name,
    type
FROM sqlite_master
WHERE type IN ("table","view");
'''
pd.read_sql_query(q15, sqlite3.connect('/content/drive/MyDrive/Dataset/chinook.db'))

                      name   type
0                    album  table
1                   artist  table
2                 customer  table
3                 employee  table
4                    genre  table
5                  invoice  table
6             invoice_line  table
7               media_type  table
8                 playlist  table
9           playlist_track  table
10                   track  table
11  customer_gt_90_dollars   view
12            customer_usa   view
13                    user  table
14                usertest  table
15             usertesting  table

In [ ]:
conn = sqlite3.connect('/content/drive/MyDrive/Dataset/chinook.db')
q14 ='''
ALTER TABLE invoice
ADD COLUMN tax NUMERIC;
'''
conn.execute(q14)
q15 ='''
ALTER TABLE invoice
ADD COLUMN subtotal NUMERIC;
'''
conn.execute(q15)
q16 ='''
UPDATE invoice
SET
    tax = 0,
    subtotal = total;
'''
conn.execute(q16)

In [64]:
conn = sqlite3.connect('/content/drive/MyDrive/Dataset/chinook.db')
q15 ='''
ALTER TABLE invoice
ADD COLUMN subtotal NUMERIC;
'''
conn.execute(q15)
q16 ='''
UPDATE invoice
SET
    tax = 0,
    subtotal = total;
'''
conn.execute(q16)

In [65]:
q16 = '''
SELECT *
FROM invoice;
'''
pd.read_sql_query(q16, conn)

,invoice_id,customer_id,invoice_date,billing_address,billing_city,billing_state,billing_country,billing_postal_code,total,tax,subtotal
0,1,18,2017-01-03 00:00:00,627 Broadway,New York,NY,USA,10012-2612,15.84,0,15.84
1,2,30,2017-01-03 00:00:00,230 Elgin Street,Ottawa,ON,Canada,K2P 1L7,9.90,0,9.90
2,3,40,2017-01-05 00:00:00,"8, Rue Hanovre",Paris,None,France,75002,1.98,0,1.98
3,4,18,2017-01-06 00:00:00,627 Broadway,New York,NY,USA,10012-2612,7.92,0,7.92
4,5,27,2017-01-07 00:00:00,1033 N Park Ave,Tucson,AZ,USA,85719,16.83,0,16.83
...,...,...,...,...,...,...,...,...,...,...,...
609,610,55,2020-12-21 00:00:00,421 Bourke Street,Sidney,NSW,Australia,2010,6.93,0,6.93
610,611,52,2020-12-27 00:00:00,202 Hoxton Street,London,None,United Kingdom,N1 5LH,1.98,0,1.98
611,612,33,2020-12-27 00:00:00,5112 48 Street,Yellowknife,NT,Canada,X1A 1N6,11.88,0,11.88
612,613,20,2020-12-29 00:00:00,541 Del Medio Avenue,Mountain View,CA,USA,94040-111,8.91,0,8.91
613,614,53,2020-12-30 00:00:00,113 Lupus St,London,None,United Kingdom,SW1V 3EN,12.87,0,12.87