<a href="https://colab.research.google.com/github/MathewLipman/Work-Samples/blob/main/German_Ebay_Used_Auto.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import numpy as np
import pandas as pd

In [5]:
autos = pd.read_csv("/content/drive/MyDrive/Dataset/autos.csv", encoding="Latin-1")
print(autos.columns)
lower_capped = autos.columns.str.lower()
print(lower_capped)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')
Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'yearofregistration', 'gearbox', 'powerps', 'model',
       'kilometer', 'monthofregistration', 'fueltype', 'brand',
       'notrepaireddamage', 'datecreated', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')

In [6]:
autos.info

<bound method DataFrame.info of                 dateCrawled                                          name  \
0       2016-03-24 11:52:17                                    Golf_3_1.6
1       2016-03-24 10:58:45                          A5_Sportback_2.7_Tdi
2       2016-03-14 12:52:21                Jeep_Grand_Cherokee_"Overland"
3       2016-03-17 16:54:04                            GOLF_4_1_4__3TÜRER
4       2016-03-31 17:25:20                Skoda_Fabia_1.4_TDI_PD_Classic
...                     ...                                           ...
371523  2016-03-14 17:48:27                    Suche_t4___vito_ab_6_sitze
371524  2016-03-05 19:56:21         Smart_smart_leistungssteigerung_100ps
371525  2016-03-19 18:57:12            Volkswagen_Multivan_T4_TDI_7DC_UY2
371526  2016-03-20 19:41:08                        VW_Golf_Kombi_1_9l_TDI
371527  2016-03-07 19:39:19  BMW_M135i_vollausgestattet_NP_52.720____Euro

        seller offerType  price   abtest vehicleType  yearOfRegistration  \
0       privat   Angebot    480     test         NaN                1993
1       privat   Angebot  18300     test       coupe                2011
2       privat   Angebot   9800     test         suv                2004
3       privat   Angebot   1500     test  kleinwagen                2001
4       privat   Angebot   3600     test  kleinwagen                2008
...        ...       ...    ...      ...         ...                 ...
371523  privat   Angebot   2200     test         NaN                2005
371524  privat   Angebot   1199     test      cabrio                2000
371525  privat   Angebot   9200     test         bus                1996
371526  privat   Angebot   3400     test       kombi                2002
371527  privat   Angebot  28990  control   limousine                2013

          gearbox  powerPS        model  kilometer  monthOfRegistration  \
0         manuell        0         golf     150000                    0
1         manuell      190          NaN     125000                    5
2       automatik      163        grand     125000                    8
3         manuell       75         golf     150000                    6
4         manuell       69        fabia      90000                    7
...           ...      ...          ...        ...                  ...
371523        NaN        0          NaN      20000                    1
371524  automatik      101       fortwo     125000                    3
371525    manuell      102  transporter     150000                    3
371526    manuell      100         golf     150000                    6
371527    manuell      320      m_reihe      50000                    8

       fuelType           brand notRepairedDamage          dateCreated  \
0        benzin      volkswagen               NaN  2016-03-24 00:00:00
1        diesel            audi                ja  2016-03-24 00:00:00
2        diesel            jeep               NaN  2016-03-14 00:00:00
3        benzin      volkswagen              nein  2016-03-17 00:00:00
4        diesel           skoda              nein  2016-03-31 00:00:00
...         ...             ...               ...                  ...
371523      NaN  sonstige_autos               NaN  2016-03-14 00:00:00
371524   benzin           smart              nein  2016-03-05 00:00:00
371525   diesel      volkswagen              nein  2016-03-19 00:00:00
371526   diesel      volkswagen               NaN  2016-03-20 00:00:00
371527   benzin             bmw              nein  2016-03-07 00:00:00

        nrOfPictures  postalCode             lastSeen
0                  0       70435  2016-04-07 03:16:57
1                  0       66954  2016-04-07 01:46:50
2                  0       90480  2016-04-05 12:47:46
3                  0       91074  2016-03-17 17:40:17
4                  0       60437  2016-04-06 10:17:21
...              ...         ...                  ...
371523             0       39576  2016-04-06 00:46:52
371524             0       26135  2016-03-11 18:17:12
371525             0       87439  2016-04-07 07:15:26
371526             0       40764  2016-03-24 12:45:21
371527             0       73326  2016-03-22 03:17:10

[371528 rows x 20 columns]>

In [7]:
autos.head()

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,kilometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [8]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'kilometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [9]:

autos_map_dict = {
'yearOfRegistration': 'registration_year',
'monthOfRegistration': 'registration_month',
'notRepairedDamage':'unrepaired_damage',
'dateCreated':'ad_created'
}



print(autos.columns.map(autos_map_dict).value_counts())
print

registration_year     1
registration_month    1
unrepaired_damage     1
ad_created            1
dtype: int64

Using the rename method will only rename matching values and leave other values intact.

In [10]:


# Define the dictionary with the old column names as keys and new column names as values
autos_map_dict = {
    'yearOfRegistration': 'registration_year',
    'monthOfRegistration': 'registration_month',
    'notRepairedDamage': 'unrepaired_damage',
    'dateCreated': 'ad_created'
}

# Rename the columns
autos_renamed = autos.rename(columns=autos_map_dict)

# Print the renamed column names
print(autos_renamed.columns)

autos.columns = autos_renamed.columns

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'registration_year', 'gearbox', 'powerPS', 'model',
       'kilometer', 'registration_month', 'fuelType', 'brand',
       'unrepaired_damage', 'ad_created', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [11]:
autos_lowercapped = autos.columns.str.lower()

In [12]:
print(autos_lowercapped)

Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'registration_year', 'gearbox', 'powerps', 'model',
       'kilometer', 'registration_month', 'fueltype', 'brand',
       'unrepaired_damage', 'ad_created', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')

In [13]:
autos_stripped = autos_lowercapped.str.strip()

In [14]:
print(autos_stripped)
autos.columns = autos_stripped

Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'registration_year', 'gearbox', 'powerps', 'model',
       'kilometer', 'registration_month', 'fueltype', 'brand',
       'unrepaired_damage', 'ad_created', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')

In [15]:
autos.head()

,datecrawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,kilometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,lastseen
0,2016-03-24 11:52:17,Golf_3_1.6,privat,Angebot,480,test,NaN,1993,manuell,0,golf,150000,0,benzin,volkswagen,NaN,2016-03-24 00:00:00,0,70435,2016-04-07 03:16:57
1,2016-03-24 10:58:45,A5_Sportback_2.7_Tdi,privat,Angebot,18300,test,coupe,2011,manuell,190,NaN,125000,5,diesel,audi,ja,2016-03-24 00:00:00,0,66954,2016-04-07 01:46:50
2,2016-03-14 12:52:21,"Jeep_Grand_Cherokee_""Overland""",privat,Angebot,9800,test,suv,2004,automatik,163,grand,125000,8,diesel,jeep,NaN,2016-03-14 00:00:00,0,90480,2016-04-05 12:47:46
3,2016-03-17 16:54:04,GOLF_4_1_4__3TÜRER,privat,Angebot,1500,test,kleinwagen,2001,manuell,75,golf,150000,6,benzin,volkswagen,nein,2016-03-17 00:00:00,0,91074,2016-03-17 17:40:17
4,2016-03-31 17:25:20,Skoda_Fabia_1.4_TDI_PD_Classic,privat,Angebot,3600,test,kleinwagen,2008,manuell,69,fabia,90000,7,diesel,skoda,nein,2016-03-31 00:00:00,0,60437,2016-04-06 10:17:21

In [16]:
autos.describe()

,price,registration_year,powerps,kilometer,registration_month,nrofpictures,postalcode
count,3.715280e+05,371528.000000,371528.000000,371528.000000,371528.000000,371528.0,371528.00000
mean,1.729514e+04,2004.577997,115.549477,125618.688228,5.734445,0.0,50820.66764
std,3.587954e+06,92.866598,192.139578,40112.337051,3.712412,0.0,25799.08247
min,0.000000e+00,1000.000000,0.000000,5000.000000,0.000000,0.0,1067.00000
25%,1.150000e+03,1999.000000,70.000000,125000.000000,3.000000,0.0,30459.00000
50%,2.950000e+03,2003.000000,105.000000,150000.000000,6.000000,0.0,49610.00000
75%,7.200000e+03,2008.000000,150.000000,150000.000000,9.000000,0.0,71546.00000
max,2.147484e+09,9999.000000,20000.000000,150000.000000,12.000000,0.0,99998.00000

In [17]:
autos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 371528 entries, 0 to 371527
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   datecrawled         371528 non-null  object
 1   name                371528 non-null  object
 2   seller              371528 non-null  object
 3   offertype           371528 non-null  object
 4   price               371528 non-null  int64
 5   abtest              371528 non-null  object
 6   vehicletype         333659 non-null  object
 7   registration_year   371528 non-null  int64
 8   gearbox             351319 non-null  object
 9   powerps             371528 non-null  int64
 10  model               351044 non-null  object
 11  kilometer           371528 non-null  int64
 12  registration_month  371528 non-null  int64
 13  fueltype            338142 non-null  object
 14  brand               371528 non-null  object
 15  unrepaired_damage   299468 non-null  object
 16  ad_created          371528 non-null  object
 17  nrofpictures        371528 non-null  int64
 18  postalcode          371528 non-null  int64
 19  lastseen            371528 non-null  object
dtypes: int64(7), object(13)
memory usage: 56.7+ MB

In [18]:
autos.describe(include='all')

,datecrawled,name,seller,offertype,price,abtest,vehicletype,registration_year,gearbox,powerps,model,kilometer,registration_month,fueltype,brand,unrepaired_damage,ad_created,nrofpictures,postalcode,lastseen
count,371528,371528,371528,371528,3.715280e+05,371528,333659,371528.000000,351319,371528.000000,351044,371528.000000,371528.000000,338142,371528,299468,371528,371528.0,371528.00000,371528
unique,280500,233531,2,2,NaN,2,8,NaN,2,NaN,251,NaN,NaN,7,40,2,114,NaN,NaN,182806
top,2016-03-24 14:49:47,Ford_Fiesta,privat,Angebot,NaN,test,limousine,NaN,manuell,NaN,golf,NaN,NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:45:59
freq,7,657,371525,371516,NaN,192585,95894,NaN,274214,NaN,30070,NaN,NaN,223857,79640,263182,14450,NaN,NaN,17
mean,NaN,NaN,NaN,NaN,1.729514e+04,NaN,NaN,2004.577997,NaN,115.549477,NaN,125618.688228,5.734445,NaN,NaN,NaN,NaN,0.0,50820.66764,NaN
std,NaN,NaN,NaN,NaN,3.587954e+06,NaN,NaN,92.866598,NaN,192.139578,NaN,40112.337051,3.712412,NaN,NaN,NaN,NaN,0.0,25799.08247,NaN
min,NaN,NaN,NaN,NaN,0.000000e+00,NaN,NaN,1000.000000,NaN,0.000000,NaN,5000.000000,0.000000,NaN,NaN,NaN,NaN,0.0,1067.00000,NaN
25%,NaN,NaN,NaN,NaN,1.150000e+03,NaN,NaN,1999.000000,NaN,70.000000,NaN,125000.000000,3.000000,NaN,NaN,NaN,NaN,0.0,30459.00000,NaN
50%,NaN,NaN,NaN,NaN,2.950000e+03,NaN,NaN,2003.000000,NaN,105.000000,NaN,150000.000000,6.000000,NaN,NaN,NaN,NaN,0.0,49610.00000,NaN
75%,NaN,NaN,NaN,NaN,7.200000e+03,NaN,NaN,2008.000000,NaN,150.000000,NaN,150000.000000,9.000000,NaN,NaN,NaN,NaN,0.0,71546.00000,NaN
max,NaN,NaN,NaN,NaN,2.147484e+09,NaN,NaN,9999.000000,NaN,20000.000000,NaN,150000.000000,12.000000,NaN,NaN,NaN,NaN,0.0,99998.00000,NaN

In [19]:
autos["seller"].value_counts()

privat        371525
gewerblich         3
Name: seller, dtype: int64

In [25]:
col_value_counts = {}
for c in autos.columns:
  if c in col_value_counts:
    col_value_counts[c] += 1
  else:
    col_value_counts[c] = 1
print(col_value_counts)

{'datecrawled': 1, 'name': 1, 'seller': 1, 'offertype': 1, 'price': 1, 'abtest': 1, 'vehicletype': 1, 'registration_year': 1, 'gearbox': 1, 'powerps': 1, 'model': 1, 'kilometer': 1, 'registration_month': 1, 'fueltype': 1, 'brand': 1, 'unrepaired_damage': 1, 'ad_created': 1, 'nrofpictures': 1, 'postalcode': 1, 'lastseen': 1}

In [41]:
col_value_counts = {}
for c in autos.columns:
  col_value_counts[c] = autos[c].value_counts().head()
   
print(col_value_counts)

{'datecrawled': 2016-03-24 14:49:47    7
2016-03-19 21:49:56    6
2016-03-26 22:57:31    6
2016-03-22 10:42:10    5
2016-04-01 16:52:05    5
Name: datecrawled, dtype: int64, 'name': Ford_Fiesta            657
BMW_318i               627
Opel_Corsa             622
Volkswagen_Golf_1.4    603
BMW_316i               523
Name: name, dtype: int64, 'seller': privat        371525
gewerblich         3
Name: seller, dtype: int64, 'offertype': Angebot    371516
Gesuch         12
Name: offertype, dtype: int64, 'price': 0       10778
500      5670
1500     5394
1000     4649
1200     4594
Name: price, dtype: int64, 'abtest': test       192585
control    178943
Name: abtest, dtype: int64, 'vehicletype': limousine     95894
kleinwagen    80023
kombi         67564
bus           30201
cabrio        22898
Name: vehicletype, dtype: int64, 'registration_year': 2000    24551
1999    22767
2005    22316
2006    20230
2001    20218
Name: registration_year, dtype: int64, 'gearbox': manuell      274214
automatik     77105
Name: gearbox, dtype: int64, 'powerps': 0      40820
75     24035
60     15907
150    15442
140    13585
Name: powerps, dtype: int64, 'model': golf      30070
andere    26400
3er       20567
polo      13092
corsa     12573
Name: model, dtype: int64, 'kilometer': 150000    240797
125000     38067
100000     15920
90000      12523
80000      11053
Name: kilometer, dtype: int64, 'registration_month': 0    37675
3    36170
6    33167
4    30918
5    30631
Name: registration_month, dtype: int64, 'fueltype': benzin    223857
diesel    107746
lpg         5378
cng          571
hybrid       278
Name: fueltype, dtype: int64, 'brand': volkswagen       79640
bmw              40274
opel             40136
mercedes_benz    35309
audi             32873
Name: brand, dtype: int64, 'unrepaired_damage': nein    263182
ja       36286
Name: unrepaired_damage, dtype: int64, 'ad_created': 2016-04-03 00:00:00    14450
2016-04-04 00:00:00    14022
2016-03-20 00:00:00    13547
2016-03-12 00:00:00    13379
2016-03-21 00:00:00    13305
Name: ad_created, dtype: int64, 'nrofpictures': 0    371528
Name: nrofpictures, dtype: int64, 'postalcode': 10115    828
65428    637
66333    349
38518    326
44145    323
Name: postalcode, dtype: int64, 'lastseen': 2016-04-07 06:45:59    17
2016-04-06 13:45:54    17
2016-04-07 06:45:12    16
2016-04-06 08:46:30    16
2016-04-06 17:46:58    16
Name: lastseen, dtype: int64}

In [ ]:
col_value_counts = {}
for c in autos.columns:
    value_counts = autos[c].value_counts()
    if value_counts in col_value_counts.values():
        col_value_counts[c] += 1
    else:
        col_value_counts[c] = 1
print(col_value_counts)

In [ ]:
col_value_counts = {}
for c in autos.columns:
    col_value_counts[c] = autos[c].value_counts()
print(col_value_counts.head())

In [ ]:
col_value_counts = {}
for c in autos.columns:
    col_value_counts[c] = autos[c].value_counts()

for c, vc in col_value_counts.items():
    print(f"Top 5 rows for column '{c}':\n{vc.nlargest(5)}\n")

In [ ]:
col_value_counts = {}
for c in autos.columns:
    col_value_counts[c] = autos[c].value_counts()

top5_counts = pd.DataFrame(columns=autos.columns)
for c, vc in col_value_counts.items():
    unique_vals = set(vc.index)
    if len(unique_vals) >= 5:
        top5_counts[c] = vc.sort_values(ascending=False)[:5].index
    else:
        top5_counts[c] = list(unique_vals) + [np.nan] * (5 - len(unique_vals))

print(top5_counts.head())

In [ ]:
col_value_counts = {}
for c in autos.columns:
    col_value_counts[c] = autos[c].value_counts()

top5_counts = pd.DataFrame(columns=["value", "count"])
for c, vc in col_value_counts.items():
    if len(vc) >= 5:
        top5_counts = top5_counts.append(pd.DataFrame({"value": vc.index[:5], "count": vc.values[:5]}), ignore_index=True)
    else:
        top5_counts = top5_counts.append(pd.DataFrame({"value": vc.index, "count": vc.values}), ignore_index=True)

print(top5_counts.head(10))

In [ ]:
print(autos.columns)

In [ ]:
most_popular_brands_by_year = autos.groupby(['model', 'brand']).size().reset_index(name='count')
most_popular_brands_by_year = most_popular_brands_by_year.loc[most_popular_brands_by_year.groupby('brand')['count'].idxmax()].reset_index(drop=True)
print(most_popular_brands_by_year)

In [ ]:
most_popular_brands_by_year = autos.groupby('brand')['model'].value_counts().unstack().fillna(0).idxmax(axis=1).reset_index(name='most_popular_brand')
print(most_popular_brands_by_year)

In [ ]:
# Group the DataFrame by the 'year' and 'brand' columns and count the occurrences
grouped_counts = autos.groupby(['brand', 'model']).size().reset_index(name='count')

# Find the indices of the rows with the highest count for each year
max_count_indices = grouped_counts.groupby('brand')['count'].idxmax()

# Select the rows with the highest count for each year
most_popular_brands_by_year = grouped_counts.loc[max_count_indices].reset_index(drop=True)

print(most_popular_brands_by_year)

In [ ]:
# Group the DataFrame by the 'brand' and 'model' columns and count the occurrences
grouped_counts = autos.groupby(['brand', 'model', 'registration_year']).size().reset_index(name='count')

# Find the indices of the rows with the highest count for each brand
max_count_indices = grouped_counts.groupby('brand')['count'].idxmax()

# Select the rows with the highest count for each brand
most_popular_models_by_brand = grouped_counts.loc[max_count_indices].reset_index(drop=True)

# Sort the DataFrame by the 'count' column in descending order
most_popular_models_by_brand = most_popular_models_by_brand.sort_values('count', ascending=False).reset_index(drop=True)

print(most_popular_models_by_brand)

In [ ]:
print(autos[["brand", "model", "registration_year"]].value_counts())
brand_model_year = autos[["brand", "model", "registration_year"]].value_counts()

In [ ]:
print(brand_model_year.head(10))

In [ ]:
print(autos[["brand", "model", "registration_year", "price"]].value_counts())
brand_model_year_price = autos[["brand", "model", "registration_year", "price"]].value_counts()

In [ ]:
# Group the DataFrame by the 'brand', 'model', and 'registration_year' columns and calculate the average price
brand_model_year_price = autos.groupby(["brand", "model", "registration_year"])["price"].mean().reset_index()

# Sort the DataFrame by the 'price' column in descending order
brand_model_year_price = brand_model_year_price.sort_values("price", ascending=False).reset_index(drop=True)

print(brand_model_year_price)

In [ ]:
print(autos["price"].max())
print(autos["price"].min())

In [ ]:
print(autos["price"].min())

In [ ]:
print(autos["price"].loc["golf"].mean())

In [ ]:
print(autos.columns)

In [ ]:
# Filter the DataFrame for Volkswagen Golf
vw_golf = autos[(autos['brand'] == 'volkswagen') & (autos['model'] == 'golf')]

# Group the filtered DataFrame by the 'registration_year' column and calculate the average price
golf_yearly_avg_price = vw_golf.groupby('registration_year')['price'].mean().reset_index()

# Sort the DataFrame by the 'registration_year' column in ascending order
golf_yearly_avg_price = golf_yearly_avg_price.sort_values('price').reset_index(drop=True)

print(golf_yearly_avg_price)

In [ ]:
import pandas as pd

# Set the display format for floating-point numbers
pd.options.display.float_format = '{:,.0f}'.format

# Filter the DataFrame for Volkswagen Golf
vw_golf = autos[(autos['brand'] == 'volkswagen') & (autos['model'] == 'golf')]

# Group the filtered DataFrame by the 'registration_year' column and calculate the average price
golf_yearly_avg_price = vw_golf.groupby('registration_year')['price'].mean().reset_index()

# Sort the DataFrame by the 'registration_year' column in ascending order
golf_yearly_avg_price = golf_yearly_avg_price.sort_values('price').reset_index(drop=True)

print(golf_yearly_avg_price)

In [ ]:
autos.columns

In [ ]:
autos["kilometer"].unique().shape

In [ ]:
col_unique_counts = {}
for c in autos.columns:
    col_unique_counts[c] = autos[c].unique().shape
print(col_unique_counts[c])

In [ ]:
col_unique_counts = {}
for c in autos.columns:
    col_unique_counts[c] = (autos[c].nunique(), autos[c].count())
    print(f"Column {c}: {col_unique_counts[c][0]} unique items, {col_unique_counts[c][1]} total items")

In [ ]:
autos.describe()

In [ ]:
autos.columns = autos.rename(columns={'kilomter': 'odometer_km'})
print(autos.columns)

In [ ]:
autos = autos.rename(columns={'kilomter': 'odometer_km'})
print(autos.columns)

In [ ]:

# Rename the 'kilometer' column to 'odometer_km'
autos.rename(columns={'kilometer': 'odometer_km'}, inplace=True)

# Print the updated column names
print(autos.columns)

In [ ]:
autos.rename(columns=(autos_map_dict), inplace=True)
autos.columns = autos.columns.str.lower().str.strip()
print(autos.columns)

In [ ]:
autos["price"].describe(include=all)

In [ ]:
autos["odometer_km"].describe(include=all)

In [ ]:
autos["odometer_km"].value_counts()

In [ ]:
autos["price"].value_counts()

In [ ]:
print(autos["price"].max())
print(autos["price"].min())
print(autos["price"].mean())

In [ ]:
print(autos["odometer_km"].max())
print(autos["odometer_km"].min())
print(autos["odometer_km"].mean())

In [ ]:
autos["price"].value_counts().head(10)

In [ ]:
# Filter the dataset to include only valid prices
autos = autos[(autos["price"] >= 1) & (autos["price"] <= 500000)]

# Update the "price" column in the original dataset with the filtered values
autos.loc[(autos["price"] >= 1) & (autos["price"] <= 500000), "price"] = autos["price"]


print(autos["price"].max())
print(autos["price"].min())
print(autos["price"].mean())

In [ ]:
autos["price"].value_counts()

In [ ]:
print("Unique values in price:", autos['price'].unique().shape)

In [ ]:
# Analyzing the price column
print("Unique values in price:", autos['price'].unique().shape)
print("\nPrice description:")
print(autos['price'].describe())
print("\nValue counts of prices (top 10):")
print(autos['price'].value_counts().head(10))
print("\nValue counts of prices (sorted):")
print(autos['price'].value_counts().sort_index(ascending=True).head(10))
print(autos['price'].value_counts().sort_index(ascending=False).head(10))

In [ ]:
# Removing outliers from the price column
autos = autos[autos["price"].between(100, 350000)]
# Analyzing the price column
print("Unique values in price:", autos['price'].unique().shape)
print("\nPrice description:")
print(autos['price'].describe())
print("\nValue counts of prices (top 10):")
print(autos['price'].value_counts().head(10))
print("\nValue counts of prices (sorted):")
print(autos['price'].value_counts().sort_index(ascending=True).head(10))
print(autos['price'].value_counts().sort_index(ascending=False).head(10))

- `date_crawled`: added by the crawler
- `last_seen`: added by the crawler
- `ad_created`: from the website
- `registration_month`: from the website
- `registration_year`: from the website

Date crawled distribution - we are only taking the first 10 values because otherwise we go beyond the day and into timestamps.

Settig normalize to True gives us the % relative to the whole as opposed to the count amount.

In [ ]:
date_crawled_distribution = autos['datecrawled'].str[:10].value_counts(normalize=True, dropna=False).sort_index()
print("Date Crawled Distribution:\n", date_crawled_distribution)

In [ ]:
print(autos.columns)

In [ ]:
# Distribution of ad_created
ad_created_distribution = autos['ad_created'].str[:10].value_counts(normalize=True, dropna=False).sort_index()
print("\nAd Created Distribution:\n", ad_created_distribution)

In [ ]:
# Distribution of last_seen
last_seen_distribution = autos['lastseen'].str[:10].value_counts(normalize=True, dropna=False).sort_index()
print("\nLast Seen Distribution:\n", last_seen_distribution)

In [ ]:
autos['registration_year'].describe()

In [ ]:
outside_interval = autos[(autos['registration_year'] < 1900) | (autos['registration_year'] > 2016)]
count_outside_interval = outside_interval.shape[0]
print(f"Number of listings outside the 1900-2016 interval: {count_outside_interval}")

In [ ]:
autos = autos[(autos['registration_year'] >= 1900) & (autos['registration_year'] <= 2016)]

In [ ]:
autos['registration_year'].value_counts(normalize=True)

In [ ]:
# Calculate the frequency of each brand in the dataset
brand_counts = autos['brand'].value_counts(normalize=True)
# Filter the brands that have over 0.9% of the total values
selected_brands = brand_counts[brand_counts > .009].index

print(selected_brands)

In [ ]:

mean_price_per_brand={}
for c in selected_brands:
  mean_price_per_brand[c] = autos[autos['brand']==c] ['price'].mean()
mean_price_per_brand

In [ ]:

mean_mileage_per_brand={}
for brand in selected_brands:
  mean_mileage_per_brand[brand] = autos[autos['brand']==brand] ['odometer_km'].mean()
mean_mileage_per_brand

In [ ]:
mean_mileage_per_brand = {}
for brand in selected_brands:
    mean_mileage = autos.loc[autos['brand'] == brand, 'odometer_km'].mean()
    mean_mileage_per_brand[brand] = mean_mileage
print(mean_mileage_per_brand)

In [ ]:
print(autos['vehicletype'].unique())
print(autos['gearbox'].unique())
print(autos['fueltype'].unique())
print(autos['unrepaired_damage'].unique())

In [ ]:
vehicle_type_map = {
    'bus': 'bus',
    'limousine': 'limousine',
    'kleinwagen': 'small car',
    'kombi': 'station wagon',
    'coupe': 'coupe',
    'suv': 'suv',
    'cabrio': 'convertible',
    'andere': 'other'
}

gearbox_map = {
    'manuell': 'manual',
    'automatik': 'automatic'
}

fuel_type_map = {
    'lpg': 'lpg',
    'benzin': 'gasoline',
    'diesel': 'diesel',
    'cng': 'cng',
    'hybrid': 'hybrid',
    'elektro': 'electric',
    'andere': 'other'
}

unrepaired_damage_map = {
    'nein': 'no',
    'ja': 'yes'
}

autos['vehicletype'] = autos['vehicletype'].map(vehicle_type_map)
autos['gearbox'] = autos['gearbox'].map(gearbox_map)
autos['fueltype'] = autos['fueltype'].map(fuel_type_map)
autos['unrepaired_damage'] = autos['unrepaired_damage'].map(unrepaired_damage_map)

In [ ]:
print(autos['vehicletype'].unique())
print(autos['gearbox'].unique())
print(autos['fueltype'].unique())
print(autos['unrepaired_damage'].unique())

In [ ]:
print(autos["gearbox"])

In [46]:
from collections import Counter
import re

# Split car names into words and count occurrences
word_list = []
for car_name in autos['name']:
    words = re.findall(r'[A-Za-z0-9]+', car_name)
    word_list.extend(words)

word_counts = Counter(word_list)

# Sort words by their frequency
sorted_word_counts = sorted(word_counts.items(), key=lambda x: x[1], reverse=True)

# Print the top 60 most common words
print(sorted_word_counts[:60])

[('1', 111414), ('2', 72848), ('0', 38729), ('Volkswagen', 37560), ('T', 34822), ('Opel', 34482), ('BMW', 33783), ('TDI', 31902), ('V', 30796), ('Mercedes', 30339), ('4', 30281), ('Audi', 30273), ('Golf', 28978), ('6', 27194), ('Benz', 24322), ('Ford', 22964), ('DPF', 20024), ('VW', 19010), ('3', 18810), ('mit', 17967), ('8', 16520), ('9', 15540), ('Renault', 15237), ('5', 12637), ('Polo', 11966), ('16V', 11737), ('Klima', 11561), ('Corsa', 11012), ('Automatik', 10794), ('CDI', 10081), ('Peugeot', 9986), ('Tuev', 9952), ('C', 9676), ('Passat', 9642), ('Astra', 9641), ('A4', 9602), ('S', 9115), ('Cabrio', 9080), ('Edition', 8757), ('Fiat', 8587), ('2017', 8533), ('Sport', 8288), ('Navi', 7433), ('Avant', 7348), ('Variant', 7119), ('E', 7027), ('Kombi', 6971), ('7', 6890), ('neu', 6761), ('Seat', 6395), ('Zustand', 6278), ('Top', 6237), ('Leder', 6127), ('A3', 6126), ('bis', 6100), ('AHK', 6044), ('Hand', 6023), ('A6', 5747), ('Verkaufe', 5644), ('Aut', 5520)]

In [ ]:
brand_model_combinations = autos.groupby(['brand', 'model']).size().sort_values(ascending=False)
brand_model_combinations.head(10)

In [ ]:
brand_model_combinations = autos.groupby(['brand', 'model', 'name', 'registration_year']).size().sort_values(ascending=False)
brand_model_combinations.head(10)

In [ ]:
import numpy as np
# Define the range for each group
bins = np.linspace(autos['odometer_km'].min()-1, autos['odometer_km'].max(), num=10)

# Categorize the data into the defined groups
autos['odometer_km_group'] = pd.cut(autos['odometer_km'], bins=bins)

# Group by the new categories and calculate the average price for each group
odometer_price_group = autos.groupby('odometer_km_group')['price'].mean().reset_index()

print(odometer_price_group.to_string())

In [45]:
# Calculate the average price of damaged cars
damaged_cars_avg_price = autos[autos['unrepaired_damage'] == 'yes']['price'].mean()

# Calculate the average price of non-damaged cars
non_damaged_cars_avg_price = autos[autos['unrepaired_damage'] == 'no']['price'].mean()

# Calculate the price difference
price_difference = non_damaged_cars_avg_price - damaged_cars_avg_price

print("Average price of damaged cars: {:.2f}".format(damaged_cars_avg_price))
print("Average price of non-damaged cars: {:.2f}".format(non_damaged_cars_avg_price))
print("Price difference: {:.2f}".format(price_difference))

Average price of damaged cars: nan
Average price of non-damaged cars: nan
Price difference: nan

In [44]:
print(autos.columns)

Index(['datecrawled', 'name', 'seller', 'offertype', 'price', 'abtest',
       'vehicletype', 'registration_year', 'gearbox', 'powerps', 'model',
       'kilometer', 'registration_month', 'fueltype', 'brand',
       'unrepaired_damage', 'ad_created', 'nrofpictures', 'postalcode',
       'lastseen'],
      dtype='object')