<a href="https://colab.research.google.com/github/MathewLipman/Work-Samples/blob/main/HN_Regular_Expression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.style as style

id: The unique identifier from Hacker News for the story
title: The title of the story
url: The URL that the stories links to, if the story has a URL
num_points: The number of points the story acquired, calculated as the total number of upvotes minus the total number of downvotes
num_comments: The number of comments that were made on the story
author: The username of the person who submitted the story
created_at: The date and time at which the story was submitted

In [4]:
hacker_news = pd.read_csv('/content/drive/MyDrive/Dataset/hacker_news.csv')

In [5]:
hacker_news.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20100 entries, 0 to 20099
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            20100 non-null  int64
 1   title         20100 non-null  object
 2   url           17660 non-null  object
 3   num_points    20100 non-null  int64
 4   num_comments  20100 non-null  int64
 5   author        20100 non-null  object
 6   created_at    20100 non-null  object
dtypes: int64(3), object(4)
memory usage: 1.1+ MB

In [6]:
hn = hacker_news

In [7]:
hn.head()

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12

In [8]:
import re

In [9]:
python_mentions_title = 0
pattern = "[Pp]ython"

for s in hn['title']:
    if re.search(pattern, s):
        python_mentions_title += 1

print(python_mentions_title)

160

In [10]:


titles = hn["title"].tolist()
python_mentions = 0
pattern = "[Pp]ython"

for t in titles:
    if re.search(pattern, t):
        python_mentions += 1

In [11]:
titles = hn["title"].tolist()

In [12]:
pattern = "[Pp]ython"
python_titles = hn['title'].str.contains(pattern)

In [13]:
python_titles.value_counts()

False    19940
True       160
Name: title, dtype: int64

In [14]:
pt = hn.groupby(python_titles)

In [15]:
combined = pd.concat([hn, python_titles], ignore_index=True, axis=1)

In [16]:
print(combined)

              0                                                  1  \
0      12224879                          Interactive Dynamic Video
1      10975351  How to Use Open Source and Shut the Fuck Up at...
2      11964716  Florida DJs May Face Felony for April Fools' W...
3      11919867       Technology ventures: From Idea to Enterprise
4      10301696  Note by Note: The Making of Steinway L1037 (2007)
...         ...                                                ...
20095  12379592  How Purism Avoids Intels Active Management Tec...
20096  10339284          YC Application Translated and Broken Down
20097  10824382  Microkernels are slow and Elvis didn't do no d...
20098  10739875                      How Product Hunt really works
20099  11680777  RoboBrowser: Your friendly neighborhood web sc...

                                                       2    3    4  \
0                http://www.interactivedynamicvideo.com/  386   52
1      http://hueniverse.com/2016/01/26/how-to-use-op...   39   10
2      http://www.thewire.com/entertainment/2013/04/f...    2    1
3      https://www.amazon.com/Technology-Ventures-Ent...    3    1
4      http://www.nytimes.com/2007/11/07/movies/07ste...    8    2
...                                                  ...  ...  ...
20095  https://puri.sm/philosophy/how-purism-avoids-i...   10    6
20096  https://medium.com/@zreitano/the-yc-applicatio...    4    1
20097  http://blog.darknedgy.net/technology/2016/01/0...  169  132
20098  https://medium.com/@benjiwheeler/how-product-h...  695  222
20099              https://github.com/jmcarp/robobrowser  182   58

                   5                 6      7
0           ne0phyte    8/4/2016 11:52  False
1             josep2   1/26/2016 19:30  False
2           vezycash   6/23/2016 22:20  False
3            hswarna    6/17/2016 0:01  False
4         walterbell    9/30/2015 4:12  False
...              ...               ...    ...
20095  AdmiralAsshat    8/29/2016 2:22  False
20096       zreitano   10/6/2015 14:57  False
20097    vezzy-fnord     1/2/2016 0:49  False
20098          brw12  12/15/2015 19:32  False
20099      pmoriarty    5/12/2016 1:43  False

[20100 rows x 8 columns]

In [17]:
pattern = '[Pp]ython'
titles = hn['title']
python_mentions = titles.str.contains(pattern).sum()

In [18]:
titles = hn['title']

py_titles_bool = titles.str.contains("[Pp]ython")
print(py_titles_bool.head())

0    False
1    False
2    False
3    False
4    False
Name: title, dtype: bool

In [19]:
py_titles = titles[py_titles_bool]
print(py_titles.head())

103                  From Python to Lua: Why We Switched
104            Ubuntu 16.04 LTS to Ship Without Python 2
145    Create a GUI Application Using Qt and Python i...
197    How I Solved GCHQ's Xmas Card with Python and ...
437    Unikernel Power Comes to Java, Node.js, Go, an...
Name: title, dtype: object

In [20]:
pattern = "[Aa]pple"
apple_titles_bool = hn['title'].str.contains(pattern)
apple_titles  =  titles[apple_titles_bool]
print(apple_titles.head())

81     Apple Watch Scooped Up Over Half the Smartwatc...
209    Jony Ive Sighted Driving the Apple Car Through...
266       Show HN: Unofficial Tinder Client for Apple TV
283    Toyota to Adopt Fords Entertainment Software t...
376                           Apple  Don't Blink [video]
Name: title, dtype: object

In [21]:
py_titles = hn['title'][hn['title'].str.contains("[Pp]ython")]
print(py_titles.head())

103                  From Python to Lua: Why We Switched
104            Ubuntu 16.04 LTS to Ship Without Python 2
145    Create a GUI Application Using Qt and Python i...
197    How I Solved GCHQ's Xmas Card with Python and ...
437    Unikernel Power Comes to Java, Node.js, Go, an...
Name: title, dtype: object

In [22]:
ruby_titles = hn['title'][hn['title'].str.contains("[Rr]uby")]
print(ruby_titles.head())

191                    Ruby on Google AppEngine Goes Beta
485          Related: Pure Ruby Relational Algebra Engine
1389    Show HN: HTTPalooza  Ruby's greatest HTTP clie...
1950    Rewriting a Ruby C Extension in Rust: How a Na...
2023    Show HN: CrashBreak  Reproduce exceptions as f...
Name: title, dtype: object

a{3} a - three times

a{3,5} a - three, four or five times

a{,3} a - zero, one, two or three times

a{8,} a - 8 times or more

a{0,} a - zero or more times
a{1,} a - one or more times
a{0,1} a - zero or one time (Optional)

In [23]:
email_bool = titles.str.contains("e-?mail")

In [24]:
email_count = email_bool.sum()

In [25]:
email_titles = titles[email_bool]
print(email_titles.head())

120     Show HN: Send an email from your shell to your...
314         Disposable emails for safe spam free shopping
1362    Ask HN: Doing cold emails? helps us prove this...
1751    Protect yourself from spam, bots and phishing ...
2422                   Ashley Madison hack treating email
Name: title, dtype: object

[fud] - either f, u or d

[a-e] - a,b,c,d, or e

[0-3] - 0,1,2 or 3

[A-Z] - any uppercase letter

[A-Za-z] - any uppercase or lowercase letter

\d - any digit character (equivalent to [0-9])

\w - any digit uppercase, lowercase or underscore character (equivalent to [A-Za-z0-9]

\s - any space, tab or linebreak character

. - any character except newline

In [26]:
pattern = "\[\w+\]"
tag_titles = titles[titles.str.contains(pattern)]
tag_count = tag_titles.shape[0]

In [27]:
print(tag_count)

444

In [28]:
tag_5 = tag_titles.head()
print(tag_5)

67     Analysis of 114 propaganda sources from ISIS, ...
101    Munich Gunman Got Weapon from the Darknet [Ger...
160         File indexing and searching for Plan 9 [pdf]
163    Attack on Kunduz Trauma Centre, Afghanistan  I...
196               [Beta] Speedtest.net  HTML5 Speed Test
Name: title, dtype: object

In [29]:
pattern = r"\[(\w+)\]"
tag_5_matches = tag_5.str.extract(pattern, expand=False)
print(tag_5_matches)

67        pdf
101    German
160       pdf
163       pdf
196      Beta
Name: title, dtype: object

In [30]:
tag_titles.value_counts()

Analysis of 114 propaganda sources from ISIS, Jabhat al-Nusra, al-Qaeda [pdf]    1
3-D Depth Reconstruction from a Single Still Image (2007) [pdf]                  1
[video] Introducing Apple File System                                            1
Enough Is Enough: Stop Wasting Money on Vitamin and Mineral Supplements [pdf]    1
Optimal Tip-to-Tip Efficiency  a model for male audience stimulation [pdf]       1
                                                                                ..
Macromedia Flash   A New  Hope for Web Applications (2002) [pdf]                 1
Y Combinator's Altman: What I Worry About in Business [video]                    1
The impact of syntax colouring on program comprehension [pdf]                    1
Linkedin 13M settlement over Add Connections [pdf]                               1
Users Really Do Plug in USB Drives They Find [pdf]                               1
Name: title, Length: 444, dtype: int64

putting the parentises outside everything but the quotes means we capture the brackets [] as well

In [31]:
pattern = r"(\[\w+\])"
tag_5_matches = tag_5.str.extract(pattern)
print(tag_5_matches)

            0
67      [pdf]
101  [German]
160     [pdf]
163     [pdf]
196    [Beta]

We are extract a pattern (which captures everything inside the brackets), and store the output as a frequency table in a new variable, tag_freq

In [37]:

pattern = r"\[(\w+)\]"
tag_freq = titles.str.extract(pattern, expand=False).value_counts()

def first_10_matches(pattern):
    """
    Return the first 10 story titles that match
    the provided regular expression
    """
    all_matches = titles[titles.str.contains(pattern)]
    first_10 = all_matches.head(10)
    return first_10

In [39]:
def first_10_matches(pattern):
    """
    Return the first 10 story titles that match
    the provided regular expression
    """
    all_matches = titles[titles.str.contains(pattern)]
    first_10 = all_matches.head(10)
    return first_10
pattern = r"\[(\w+)\]"
tag_count = titles[titles.str.contains(pattern)]

In [41]:

def first_10_matches(pattern):
    """
    Return the first 10 story titles that match
    the provided regular expression
    """
    all_matches = titles[titles.str.contains(pattern)]
    first_10 = all_matches.head(10)
    return first_10
pattern = r"[Jj]ava[^Ss]"
java_titles = titles[titles.str.contains(pattern)]

This pattern finds Java but eliminates instances where Java is followed by an S or s (eliminating Javascript or JavaScript)

In [51]:

def first_10_matches(pattern):
    """
    Return the first 10 story titles that match
    the provided regular expression
    """
    all_matches = titles[titles.str.contains(pattern)]
    first_10 = all_matches.head(10)
    return first_10
pattern = r"[Jj]ava[^Ss]"
first_10_matches_java = first_10_matches(pattern)

Negative Regular Expression - Negative Character Classes
[^fud] - any character except f, u or d

[^1-3Z\s] any character exept 1,2,3 Z or whitespace characters

**Uppercasing the letters makes them exceptions:**

[\D] any character except digit characters

[\W] any character except word characters

[\S] any character except whitespace characters

In [67]:
pattern = r"\b[Jj]ava\b"
java_titles = titles[titles.str.contains(pattern)]

Beginning Anchor - ^abc = matches abc only at the start of a string

End Anchor - abc$  - matches abc only at the end of a string

In [71]:
test_cases = pd.Series([
    "Red Nose Day is a well-known fundraising event",
    "My favorite color is Red",
    "My Red Car was purchased three years ago"
])
print(test_cases)

0    Red Nose Day is a well-known fundraising event
1                          My favorite color is Red
2          My Red Car was purchased three years ago
dtype: object

Since our pattern has a ^ at the start of it, it only finds strings that start with "Red"

In [72]:
test_cases.str.contains(r"^Red")

0     True
1    False
2    False
dtype: bool

In [73]:
test_cases.str.contains(r"^My")

0    False
1     True
2     True
dtype: bool

using the $ symbol will only find patterns in strings that end with that value

In [74]:
test_cases.str.contains(r"Red$")

0    False
1     True
2    False
dtype: bool

only find strings that begin with [ ]

In [86]:
pattern_beginning = r"^\[\w+\]"
beginning_count = titles.str.contains(pattern_beginning).sum()

only find strings that end with [ ]

In [87]:
pattern_beginning = r"\[\w+\]$"
ending_count = titles.str.contains(pattern_beginning).sum()

In [90]:
email_tests = pd.Series(['email', 'Email', 'eMail', 'EMAIL'])
email_tests.str.contains(r"email")

0     True
1    False
2    False
3    False
dtype: bool

In [99]:
import re
email_tests.str.contains(r"email",flags=re.I)

0      True
1      True
2     False
3     False
4     False
5     False
6      True
7     False
8      True
9      True
10     True
11    False
dtype: bool

In [92]:
email_in_titles = titles.str.contains(r"email",flags=re.I)

In [102]:
email_tests = pd.Series(['email', 'Email', 'e Mail', 'e mail', 'E-mail',
              'e-mail', 'eMail', 'E-Mail', 'EMAIL', 'emails', 'Emails',
              'E-Mails'])

pattern = r"\be[\-\s]?mails?\b"

email_mentions = titles.str.contains(pattern,flags=re.I).sum()

In [105]:
pattern = r"[Pp]ython"
python_counts = titles.str.contains(pattern).sum()
print(python_counts)

160

using  `flags=re.I`  will match to case any case in the pattern

In [106]:
pattern = r"python"
python_counts = titles.str.contains(pattern, flags=re.I).sum()
print(python_counts)

160

In [108]:
pattern = r'sql'
sql_counts = titles.str.contains(pattern, flags=re.I).sum()
print(sql_counts)

108

In [112]:
pattern = r'(SQL)'
sql_capitalizations = titles.str.extract(pattern, flags=re.I, expand=False)
sql_capitalizations_freq = sql_capitalizations.value_counts()
print(sql_capitalizations_freq)

SQL    101
Sql      4
sql      3
Name: title, dtype: int64

adding "\w+" to our () will match to any word that is prior to our SQL pattern (which is not case sensitive because of our flags=re.I)

In [113]:
pattern = r"(\w+SQL)"
sql_flavors = titles.str.extract(pattern, flags=re.I, expand=False)
sql_flavors_freq = sql_flavors.value_counts()
print(sql_flavors_freq)

PostgreSQL    27
NoSQL         16
MySQL         12
MemSQL         1
SparkSQL       1
nosql          1
mySql          1
CloudSQL       1
Name: title, dtype: int64

In [114]:
pattern = r"(\w+PYTHON)"
python_flavors = titles.str.extract(pattern, flags=re.I, expand=False)
python_flavors_freq = python_flavors.value_counts()
print(python_flavors_freq)

CPython         2
IPython         2
MicroPython     2
IronPython      1
ImportPython    1
Micropython     1
Ptpython        1
Name: title, dtype: int64

In [115]:
pattern = r"(\w+SQL)"
sql_flavors = titles.str.extract(pattern, flags=re.I, expand=False).str.lower()
sql_flavors_freq = sql_flavors.value_counts()
print(sql_flavors_freq)

postgresql    27
nosql         17
mysql         13
memsql         1
sparksql       1
cloudsql       1
Name: title, dtype: int64

We now can see the average number of comments for posts containing titles that include variations of sql (+sql)

In [118]:
hn_sql = hn[hn['title'].str.contains(r"\w+SQL", flags=re.I)].copy()
hn_sql['flavor'] = hn_sql['title'].str.extract(pattern, flags=re.I, expand=False)
hn_sql['flavor'] = hn_sql['flavor'].str.lower()
sql_pivot = hn_sql.pivot_table(index='flavor', values='num_comments', aggfunc='mean')
print(sql_pivot)

            num_comments
flavor
cloudsql        5.000000
memsql         14.000000
mysql          12.230769
nosql          14.529412
postgresql     25.962963
sparksql        1.000000

This pattern checks for the version of Python, it will optionally extract digit(s) following python

In [131]:
pattern = r"[Pp]ython ?[\d.]+"
hn_python = hn[hn['title'].str.contains(pattern, flags=re.I)].copy()

In [135]:
pattern = r"[Pp]ython ([\d\.]+)"

py_versions = titles.str.extract(pattern, expand=False)
py_versions_freq = dict(py_versions.value_counts())
print(py_versions_freq)

{'3': 10, '2': 3, '3.5': 3, '3.6': 2, '2.7': 1, '1.5': 1, '8': 1, '3.5.0': 1, '4': 1}

In [136]:
def first_10_matches(pattern):
    """
    Return the first 10 story titles that match
    the provided regular expression
    """
    all_matches = titles[titles.str.contains(pattern)]
    first_10 = all_matches.head(10)
    return first_10

first_10_matches(r"\b[Cc]\b")

14                 Custom Deleters for C++ Smart Pointers
221                        Lisp, C++: Sadness in my heart
222                  MemSQL (YC W11) Raises $36M Series C
354     VW C.E.O. Personally Apologized to President O...
366                      The new C standards are worth it
445           Moz raises $10m Series C from Foundry Group
509     BDE 3.0 (Bloomberg's core C++ library): Open S...
522          Fuchsia: Micro kernel written in C by Google
550     How to Become a C.E.O.? The Quickest Path Is a...
1283    A lightweight C++ signals and slots implementa...
Name: title, dtype: object

In [138]:
def first_10_matches(pattern):
    """
    Return the first 10 story titles that match
    the provided regular expression
    """
    all_matches = titles[titles.str.contains(pattern)]
    first_10 = all_matches.head(10)
    return first_10

first_10_matches(r"\b[Cc]\b[^.+]")

366                      The new C standards are worth it
445           Moz raises $10m Series C from Foundry Group
522          Fuchsia: Micro kernel written in C by Google
1308            Show HN: Yupp, yet another C preprocessor
1327                     The C standard formalized in Coq
1366                          GNU C Library 2.23 released
1430    Cysignals: signal handling (SIGINT, SIGSEGV, )...
1621                        SDCC  Small Device C Compiler
1950    Rewriting a Ruby C Extension in Rust: How a Na...
2196    MyHTML  HTML Parser on Pure C with POSIX Threa...
Name: title, dtype: object

`zzz(?=abc)` - matches zzz only when it is followed by abc - Positive lookahead

`zzz(?!abc)` - matches zzz only when it is not followed by ABC - Negative Lookahead

`(?<=abc)zzz` - matches zzz only when it is preceded by abc - Positive Lookbehind

`(?<!abc)zzz` - matches zzz when it is not preceded by abc - Negative Lookbehind

These tips can help you remember the syntax for lookarounds:


Inside the parentheses, the first character of a lookaround is always ?.
If the lookaround is a lookbehind, the next character will be <, which you can think of as an arrow head pointing behind the match.
The next character indicates whether the lookaround is positive (=) or negative (!).

Matches Green only when followed by _Blue

In [140]:
test_cases = ['Red_Green_Blue',
              'Yellow_Green_Red',
              'Red_Green_Red',
              'Yellow_Green_Blue',
              'Green']

def run_test_cases(pattern):
    for tc in test_cases:
        result = re.search(pattern, tc)
        print(result or "NO MATCH")
run_test_cases(r"Green(?=_Blue)")

<re.Match object; span=(4, 9), match='Green'>
NO MATCH
NO MATCH
<re.Match object; span=(7, 12), match='Green'>
NO MATCH

Green only when preceded by Red_

In [141]:
run_test_cases(r"(?<=Red_)Green")

<re.Match object; span=(4, 9), match='Green'>
NO MATCH
<re.Match object; span=(4, 9), match='Green'>
NO MATCH
NO MATCH

Green only when yellow does not precede it

In [142]:
run_test_cases(r"(?<!Yellow_)Green")

<re.Match object; span=(4, 9), match='Green'>
NO MATCH
<re.Match object; span=(4, 9), match='Green'>
NO MATCH
<re.Match object; span=(0, 5), match='Green'>

This matches instances in which green is followed by exactly 5 characters like _blue

In [143]:
run_test_cases(r"Green(?=.{5})")

<re.Match object; span=(4, 9), match='Green'>
NO MATCH
NO MATCH
<re.Match object; span=(7, 12), match='Green'>
NO MATCH

In [145]:
pattern = r"(?<!Series\s)\b[Cc]\b((?![+.])|\.$)"
c_mentions = titles.str.contains(pattern).sum()

<ipython-input-145-cb639a79a078>:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  c_mentions = titles.str.contains(pattern).sum()

In [148]:
test_cases = [
              "I'm going to read a book.",
              "Green is my favorite color.",
              "My name is Aaron.",
              "No doubles here.",
              "I have a pet eel."
             ]

for tc in test_cases:
    print(re.search(r"(\w)\1", tc))

<re.Match object; span=(21, 23), match='oo'>
<re.Match object; span=(2, 4), match='ee'>
None
None
<re.Match object; span=(13, 15), match='ee'>

this pattern will discover words repeated right after each other in titles

In [157]:
pattern = r"\b(\w+)\s\1\b"
repeated_words = titles[titles.str.contains(pattern)]
repeated_word_freq = repeated_words.value_counts()

Silicon Valley Has a Problem Problem                                        1
Wire Wire: A West African Cyber Threat                                      1
Flexbox Cheatsheet Cheatsheet                                               1
The Mindset Mindset (2015)                                                  1
Valentine's Day Special: Bye Bye Tinder, Flirting in the Support Channel    1
Mcdonalds copying cyriak  cows cows cows in their new commercial?           1
Bang Bang Control                                                           1
Cordless Telephones: Bye Bye Privacy (1991)                                 1
Solving the the Monty-Hall-Problem in Swift                                 1
Bye Bye Webrtc2SIP: WebRTC with Asterisk and Amazon AWS Only                1
Intellij-Rust Rust Plugin for IntelliJ IDEA                                 1
Name: title, dtype: int64

<ipython-input-157-cba61c3c462a>:2: UserWarning: This pattern is interpreted as a regular expression, and has match groups. To actually get the groups, use str.extract.
  repeated_words = titles[titles.str.contains(pattern)]

`re.sub(pattern, repl, string, flags=0)`

The repl parameter is the text that you would like to substitute for the match. Let's look at a simple example where we replace all capital letters in a string with dashes:

In [158]:
string = "aBcDEfGHIj"

print(re.sub(r"[A-Z]", "-", string))

a-c--f---j

When using pandas:
`Series.str.replace(pat, repl, flags=0)`

In [161]:
sql_variations = pd.Series(["SQL", "Sql", "sql"])

sql_uniform = sql_variations.str.replace(r"sql", "SQL", flags=re.I)
print(sql_uniform)

0    SQL
1    SQL
2    SQL
dtype: object

In [162]:
email_variations = pd.Series(['email', 'Email', 'e Mail',
                        'e mail', 'E-mail', 'e-mail',
                        'eMail', 'E-Mail', 'EMAIL'])
pattern = r"\be[-\s]?mail"
email_uniform = email_variations.str.replace(pattern, "email", flags=re.I)
titles_clean = titles.str.replace(pattern, "email", flags=re.I)

<ipython-input-162-7f54f34fc005>:5: FutureWarning: The default value of regex will change from True to False in a future version.
  email_uniform = email_variations.str.replace(pattern, "email", flags=re.I)
<ipython-input-162-7f54f34fc005>:6: FutureWarning: The default value of regex will change from True to False in a future version.
  titles_clean = titles.str.replace(pattern, "email", flags=re.I)

`pattern = r"https?://([\w\-\.]+)"`

Using this pattern: pattern = r"https?://([\w\-\.]+)" allows us to capture and extract the domain value of a url (after the protocol which is 'http://')

In [168]:
test_urls = pd.Series([
 'https://www.amazon.com/Technology-Ventures-Enterprise-Thomas-Byers/dp/0073523429',
 'http://www.interactivedynamicvideo.com/',
 'http://www.nytimes.com/2007/11/07/movies/07stein.html?_r=0',
 'http://evonomics.com/advertising-cannot-maintain-internet-heres-solution/',
 'HTTPS://github.com/keppel/pinn',
 'Http://phys.org/news/2015-09-scale-solar-youve.html',
 'https://iot.seeed.cc',
 'http://www.bfilipek.com/2016/04/custom-deleters-for-c-smart-pointers.html',
 'http://beta.crowdfireapp.com/?beta=agnipath',
 'https://www.valid.ly?param',
 'http://css-cursor.techstream.org'
])
pattern = r"https?://([\w\-\.]+)"
test_urls_clean = test_urls.str.extract(pattern, flags=re.I, expand=False)
domains = hn['url'].str.extract(pattern, flags=re.I, expand=False)
top_domains = domains.value_counts().head(5)
print(top_domains)

github.com             1008
medium.com              825
www.nytimes.com         525
www.theguardian.com     248
techcrunch.com          245
Name: url, dtype: int64

In [173]:
domains.value_counts().head(15)

github.com                1008
medium.com                 825
www.nytimes.com            525
www.theguardian.com        248
techcrunch.com             245
www.youtube.com            213
www.bloomberg.com          193
arstechnica.com            191
www.washingtonpost.com     190
www.wsj.com                138
www.theatlantic.com        137
www.bbc.com                134
www.wired.com              114
www.theverge.com           112
www.bbc.co.uk              108
Name: url, dtype: int64

0                      www.amazon.com
1     www.interactivedynamicvideo.com
2                     www.nytimes.com
3                       evonomics.com
4                          github.com
5                            phys.org
6                        iot.seeed.cc
7                    www.bfilipek.com
8               beta.crowdfireapp.com
9                        www.valid.ly
10          css-cursor.techstream.org
dtype: object

In [177]:
created_at = hn['created_at'].head()
print(created_at)

0     8/4/2016 11:52
1    1/26/2016 19:30
2    6/23/2016 22:20
3     6/17/2016 0:01
4     9/30/2015 4:12
Name: created_at, dtype: object

this pattern splits at the space and captures each of the two words in a different column

In [178]:
pattern = r"(.+)\s(.+)"
dates_times = created_at.str.extract(pattern)
print(dates_times)

           0      1
0   8/4/2016  11:52
1  1/26/2016  19:30
2  6/23/2016  22:20
3  6/17/2016   0:01
4  9/30/2015   4:12

This pattern `r"(https?)://([\w\.\-]+)/?(.*)"` will seperate a url into its protocol, domain and path and we can then identify rows that contain those values or extract the values and store them in another variable.

In [179]:
# `test_urls` is available from the previous screen
pattern = r"(https?)://([\w\.\-]+)/?(.*)"

test_url_parts = test_urls.str.extract(pattern, flags=re.I)
url_parts = hn['url'].str.extract(pattern, flags=re.I)

In [183]:
print(url_parts)

           0                                1  \
0       http  www.interactivedynamicvideo.com
1       http                   hueniverse.com
2       http                  www.thewire.com
3      https                   www.amazon.com
4       http                  www.nytimes.com
...      ...                              ...
20095  https                          puri.sm
20096  https                       medium.com
20097   http               blog.darknedgy.net
20098  https                       medium.com
20099  https                       github.com

                                                       2
0
1      2016/01/26/how-to-use-open-source-and-shut-the...
2      entertainment/2013/04/florida-djs-april-fools-...
3      Technology-Ventures-Enterprise-Thomas-Byers/dp...
4                    2007/11/07/movies/07stein.html?_r=0
...                                                  ...
20095  philosophy/how-purism-avoids-intels-active-man...
20096  @zreitano/the-yc-application-broken-down-and-t...
20097                           technology/2016/01/01/0/
20098  @benjiwheeler/how-product-hunt-really-works-d8...
20099                                 jmcarp/robobrowser

[20100 rows x 3 columns]

In [184]:
created_at = hn['created_at'].head()

pattern = r"(.+) (.+)"
dates_times = created_at.str.extract(pattern)
print(dates_times)

           0      1
0   8/4/2016  11:52
1  1/26/2016  19:30
2  6/23/2016  22:20
3  6/17/2016   0:01
4  9/30/2015   4:12

In [185]:
created_at = hn['created_at'].head()

pattern = r"(?P<date>.+) (?P<time>.+)"
dates_times = created_at.str.extract(pattern)
print(dates_times)

        date   time
0   8/4/2016  11:52
1  1/26/2016  19:30
2  6/23/2016  22:20
3  6/17/2016   0:01
4  9/30/2015   4:12

We have updated our pattern to now incude names for each capture group: Protocol, domain and path so that when these values are extracted their corresponding columns are named.

In [189]:
pattern = r"(?P<protocol>https?)://(?P<domain>[\w\.\-]+)/?(?P<path>.*)"

url_parts = hn['url'].str.extract(pattern, flags=re.I)
print(url_parts)

      protocol                           domain  \
0         http  www.interactivedynamicvideo.com
1         http                   hueniverse.com
2         http                  www.thewire.com
3        https                   www.amazon.com
4         http                  www.nytimes.com
...        ...                              ...
20095    https                          puri.sm
20096    https                       medium.com
20097     http               blog.darknedgy.net
20098    https                       medium.com
20099    https                       github.com

                                                    path
0
1      2016/01/26/how-to-use-open-source-and-shut-the...
2      entertainment/2013/04/florida-djs-april-fools-...
3      Technology-Ventures-Enterprise-Thomas-Byers/dp...
4                    2007/11/07/movies/07stein.html?_r=0
...                                                  ...
20095  philosophy/how-purism-avoids-intels-active-man...
20096  @zreitano/the-yc-application-broken-down-and-t...
20097                           technology/2016/01/01/0/
20098  @benjiwheeler/how-product-hunt-really-works-d8...
20099                                 jmcarp/robobrowser

[20100 rows x 3 columns]