In [ ]:
import numpy as np

In [ ]:
data_ndarray = np.array([5, 10, 15, 20])

In [ ]:
print(data_ndarray)

[ 5 10 15 20]

In [ ]:
data_ndarray = np.array([10, 20, 30])

In [ ]:
import csv
csv_file_path = '/content/drive/MyDrive/Dataset/nyc_taxis.csv'
with open(csv_file_path, 'r', encoding='utf-8') as csvfile:
  csvreader = csv.reader(csvfile)
  taxilist = list(csvreader)
  taxilistheader = taxilist[0:1]
  taxilist = taxilist[1:] 
print(taxilistheader)
print(taxilist)

In [ ]:
import numpy as np

In [ ]:
hdata_ndarray = np.array(taxilistheader)
print(hdata_ndarray)

In [ ]:
data_ndarray = np.array(taxilist)

In [ ]:
print(data_ndarray)

Convert all values to floats:

In [ ]:

converted_taxilist = []
for row in data_ndarray:
    converted_row = []
    for element in row:
        converted_row.append(float(element))
    converted_taxilist.append(converted_row)

In [ ]:
taxi = np.array(converted_taxilist)

... indicates truncation because of size

In [ ]:
print(taxi)

How do we determine how many rows and columns are in our array?

In [ ]:
data_ndarray = np.array([[5, 10, 15], 
                         [20, 25, 30]])
print(data_ndarray.shape)

print(taxi.shape)

2013 rows and 15 columns

So now what we've learned is we can convert a table to an array using numpy and and perform new operations on the data.

In [ ]:
import csv
csv_file_path = '/content/drive/MyDrive/Dataset/artworks_clean.csv'
with open(csv_file_path, 'r', encoding='utf-8') as csvfile:
  csvreader = csv.reader(csvfile)
  moma = list(csvreader)
  momaheader = moma[0:1]
  moma = moma[1:] 
print(momaheader)
print(moma)

In [ ]:
moma = np.array(moma)

In [ ]:
print(moma)

Now as an array, we can use shape to see how many rows and columns

In [ ]:
print(moma.shape)

In [ ]:
print(momaheader)

In [ ]:
row_0 = moma[0,]
rows_391_to_500 = moma[391:501]
row_21_column_5 = moma[21,5]

In [ ]:
print(row_0)

In [ ]:
print(rows_391_to_500)

In [ ]:
row_21_column_5 = moma[21,5]

In [ ]:
print(row_21_column_5)

Female

In [ ]:
row_1 = moma[1:2,]
print(row_1)

[['Duplicate of plate from folio 11 verso (supplementary suite, plate 4) from ARDICIA'
  'Pablo Palazuelo' 'Spanish' '1916' '2007' 'Male' '1978'
  'Prints & Illustrated Books']]

In [ ]:
sel_moma = moma[:,2]

In [ ]:
print(sel_moma)

In [ ]:
sel_moma = moma[:,1:3]
print(sel_moma)

In [ ]:
sel_moma = moma[:,[0,2,3]]
print(sel_moma)

In [ ]:
sel_moma = moma[1:]
print(sel_moma)

In [ ]:
columns_1_4_7 = moma[:,[1,4,7]]
row_99_columns_5_to_8 = moma[99, 5:9]
rows_100_to_200_column_7 = moma[100:201,7]

In [ ]:
print(rows_100_to_200_column_7)

In [ ]:
fare_amount = taxi[:,9]
fees_amount = taxi[:,10]
fare_and_fees = fare_amount + fees_amount
print(fare_and_fees)

Calculating average trip miles per hour from taxi data - the trip length is in seconds so we need to convert it by dividing it by 3600 to have the trip length in hours

In [ ]:
trip_distance_miles = taxi[:, 7]
trip_length_seconds = taxi[:, 8]

trip_length_hours = trip_length_seconds / 3600 # there are 3600 seconds in one hour

In [ ]:
trip_distance_miles = taxi[:, 7]
trip_length_seconds = taxi[:, 8]

trip_length_hours = trip_length_seconds / 3600 # there are 3600 seconds in one hour

trip_mph = trip_distance_miles / trip_length_hours
print(trip_mph[:10])

Using Method Calculation

In [ ]:
from re import M
mph_min = (min(trip_mph))
mph_max = (max(trip_mph))

print(mph_min)
print(mph_max)

In [ ]:
mph_min = trip_mph.min()
print(mph_min)

In [ ]:
mph_max = trip_mph.max()
print(mph_max)

In [ ]:
mph_mean = trip_mph.mean()
print(mph_mean)

Function implementation calculation, method was used prior:
The following will help you remember the correct terminology to use:

Function calls usually start with the library name or its alias (e.g., np.mean()).
Method calls begin with an object or variable name from a particular class (e.g., trip_mph.mean()).

Calculation	Function Implementation	Method Implementation
Calculate the minimum value of trip_mph	np.min(trip_mph)	trip_mph.min()
Calculate the maximum value of trip_mph	np.max(trip_mph)	trip_mph.max()
Calculate the mean value of trip_mph	np.mean(trip_mph)	trip_mph.mean()
Calculate the median value of trip_mph

In [ ]:
np.min(trip_mph)
print(np.min(trip_mph))

In [ ]:
np.mean(trip_mph)
print(np.mean(trip_mph))

In [ ]:
np.median(trip_mph)
print(np.median(trip_mph))

Find the maximum value of each row using axis parameter (axis=1)

In [ ]:
max_value_per_row = taxi.max(axis=1)
print(max_value_per_row)

Find the maximum value of each column using the axis parameter (axis=0)

In [ ]:
max_value_per_column = taxi.max(axis=0)
print(max_value_per_column)

Reduce taxi data set to verify that the total amount column (13) is equal to the sum of indexes 9,10,11,12.

9 = fare_amount, 10=fee_amount, 11=tolls_amount, 12=tip_amount, 13=total_amount

In [ ]:
taxi_first_five = taxi[:5]
fare_components = taxi_first_five[:,9:13]
print(taxi_first_five)
print(fare_components)

In [ ]:
fare_sums = fare_components.sum(axis=1)
print(fare_sums)

[69.99 54.3  37.8  32.76 18.8 ]

In [ ]:
fare_totals = taxi_first_five[:,13]
print(fare_totals)

[69.99 54.3  37.8  32.76 18.8 ]

In [ ]:
print(fare_sums)
print(fare_totals)

As related to Taxi Dataset: 
Here's some info on selected columns:

📅 pickup_year: Trip's year
📅 pickup_month: Trip's month (January is 1, December is 12)
📅 pickup_day: Trip's day of the month
📍 pickup_location_code: Starting airport or borough
📍 dropoff_location_code: Ending airport or borough
📏 trip_distance: Trip distance in miles
⏱️ trip_length: Trip length in seconds
💵 fare_amount: Base fare in dollars
💰 total_amount: Total amount charged, including all fees, tolls, and tips


# NYC Taxi Trip Data

Source: [NYC Taxi and Limousine Commission](http://www.nyc.gov/html/tlc/html/about/trip_record_data.shtml)

This data set includes a 1/50th random sample of all trips between January and June 2016 that either start or end at an aiport location.

## Column Summary

- `pickup_year` - The year of the trip.
- `pickup_month` - The month of the trip (January is `1`, December is `12`).
- `pickup_day` - The day of the month of the trip.
- `pickup_dayofweek` - The day of the week (Monday is `1`, Sunday is `7`)
- `pickup_time` - The time that the trip started, as one of six categories:
    - `0` - 0:00am-3:59am.
    - `1` - 4:00am-7:59am.
    - `2` - 8:00am-11:59am.
    - `3` - 12:00pm-3:59pm.
    - `4` - 4:00pm-7:59pm.
    - `5` - 8:00pm-11:59pm.
- `pickup_location_code` - The airport or [borough](https://en.wikipedia.org/wiki/Boroughs_of_New_York_City) where the the trip started, as one of eight categories:
    - `0` - Bronx.
    - `1` - Brooklyn.
    - `2` - JFK Airport.
    - `3` - LaGuardia Airport.
    - `4` - Manhattan.
    - `5` - Newark Airport.
    - `6` - Queens.
    - `7` - Staten Island.
- `dropoff_location_code` - The airport or borough where the the trip finished, using the same eight category codes as `pickup_location_code`.
- `trip_distance` - The distance of the trip in miles.
- `trip_length` - The length of the trip in seconds.
- `fare_amount` - The base fare of the trip, in dollars.
- `fees_amount` - Any fees added to the fare, eg surcharges, extras, and MTA taxes.
- `tolls_amount` - The amount of all tolls paid during the trip.
- `tip_amount` - The tip added by the customer - does not include cash tips.
- `total_amount` - The total amount charged to the passenger, excluding cash tips.
- `payment_type` - The payment type, one of six categories:
    - `1` - Credit card.
    - `2` - Cash.
    - `3` - No charge.
    - `4` - Dispute.
    - `5` - Unknown.
    - `6` - Voided trip.

In [ ]:
import numpy as np

np.genfromtxt(filename, delimiter=None)