<a href="https://colab.research.google.com/github/MathewLipman/Work-Samples/blob/main/Pandas_Intermediate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

First we are importing our dataset using pandas and we are replacing all the zero values in previous rank column with NaN (Not a Number)

In [3]:
import numpy as np

By using index_col = 0 we specify the first column will be used as the axis name for the index axis

In [4]:
import pandas as pd
# read the data set into a pandas dataframe
f500 = pd.read_csv('/content/drive/MyDrive/Dataset/f500.csv', index_col=0)
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

Data dictionary for dataset: 
company: Name of the company.

rank: Global 500 rank for the company.

revenues: Company's total revenue for the fiscal year, in millions of dollars (USD).

revenue_change: Percentage change in revenue between the current and prior fiscal year.

profits: Net income for the fiscal year, in millions of dollars (USD).
sector: Sector in which the company operates.

previous_rank: Global 500 rank for the company for the prior year.
country: Country in which the company is headquartered.

hq_location: City and country, (or city and state for the USA) where the company is headquartered.

employees: Total employees (full-time equivalent, if available) at fiscal year-end.

In [5]:
f500_selection = f500[["rank", "revenues", "revenue_change"]].head()

We are now loading our data without index_col = 0 so our first column will contain integer values

In [6]:
import pandas as pd
# read the data set into a pandas dataframe
f500 = pd.read_csv('/content/drive/MyDrive/Dataset/f500.csv')
f500.index.name = None

# replace 0 values in the "previous_rank" column with NaN
f500.loc[f500["previous_rank"] == 0, "previous_rank"] = np.nan

Using the iloc functionality to call and assign values to corresponding variables

In [7]:
fifth_row = f500.iloc[4]
company_value = f500.iloc[0,0]

Some more examples

In [8]:
#df.iloc[row_index,column_index]
first_column = f500.iloc[:,0]
print(first_column)

0                             Walmart
1                          State Grid
2                       Sinopec Group
3            China National Petroleum
4                        Toyota Motor
                    ...
495    Teva Pharmaceutical Industries
496          New China Life Insurance
497         Wm. Morrison Supermarkets
498                               TUI
499                        AutoNation
Name: company, Length: 500, dtype: object

With loc[], the ending slice is included.
With iloc[], the ending slice is not included

In [9]:
second_to_fith_rows = f500[1:5]
print(second_to_fith_rows)

                    company  rank  revenues  revenue_change  profits  assets  \
1                State Grid     2    315199            -4.4   9571.3  489838
2             Sinopec Group     3    267518            -9.1   1257.9  310726
3  China National Petroleum     4    262573           -12.3   1867.5  585619
4              Toyota Motor     5    254694             7.7  16899.3  437575

   profit_change            ceo                  industry  \
1           -6.2        Kou Wei                 Utilities
2          -65.0      Wang Yupu        Petroleum Refining
3          -73.7  Zhang Jianhua        Petroleum Refining
4          -12.3    Akio Toyoda  Motor Vehicles and Parts

                   sector  previous_rank country     hq_location  \
1                  Energy            2.0   China  Beijing, China
2                  Energy            4.0   China  Beijing, China
3                  Energy            3.0   China  Beijing, China
4  Motor Vehicles & Parts            8.0   Japan   Toyota, Japan

                        website  years_on_global_500_list  employees  \
1        http://www.sgcc.com.cn                        17     926067
2        http://www.sinopec.com                        19     713288
3        http://www.cnpc.com.cn                        17    1512048
4  http://www.toyota-global.com                        23     364445

   total_stockholder_equity
1                    209456
2                    106523
3                    301893
4                    157210

select by integer position	Explicit Syntax	Shorthand Convention

Single column from dataframe	df.iloc[:,3]	

List of columns from dataframe	df.iloc[:,[3,5,6]]	

Slice of columns from dataframe	df.iloc[:,3:7]	

Single row from dataframe	df.iloc[20]	

List of rows from dataframe	df.iloc[[0,3,8]]	

Slice of rows from dataframe	df.iloc[3:5]	df[3:5]

Single items from series	s.iloc[8]	s[8]

List of item from series	s.iloc[[2,8,1]]	s[[2,8,1]]

Slice of items from series	s.iloc[5:10]	s[5:10]

In [10]:
first_three_rows = f500[0:3]
first_seventh_row_slice_first5col = f500.iloc[[0,6], :5]

isnull method

In [11]:
rev_is_null = f500["revenue_change"].isnull()
print(rev_is_null.head())

0    False
1    False
2    False
3    False
4    False
Name: revenue_change, dtype: bool

In [12]:
rev_change_null = f500[rev_is_null]
print(rev_change_null[["company","country","sector"]])

                        company  country      sector
90                       Uniper  Germany      Energy
180  Hewlett Packard Enterprise      USA  Technology

Null Previous Rank with one line of code

In [13]:
null_previous_rank = f500[f500["previous_rank"].isnull()][["company", "rank", "previous_rank"]]
print(null_previous_rank)

                                   company  rank  previous_rank
48                   Legal & General Group    49            NaN
90                                  Uniper    91            NaN
123                      Dell Technologies   124            NaN
138                 Anbang Insurance Group   139            NaN
140                        Albertsons Cos.   141            NaN
180             Hewlett Packard Enterprise   181            NaN
267                           Hengli Group   268            NaN
271         Johnson Controls International   272            NaN
341                                  Chubb   342            NaN
375                 Charter Communications   376            NaN
376                              Medtronic   377            NaN
392                               Facebook   393            NaN
409                            Kraft Heinz   410            NaN
414                                  Nokia   415            NaN
431                          Standard Life   432            NaN
440            Brookfield Asset Management   441            NaN
441        Mercantil Servicios Financieros   442            NaN
446                            Samsung C&T   447            NaN
456                        Heraeus Holding   457            NaN
458                Yango Financial Holding   459            NaN
461                  Alibaba Group Holding   462            NaN
463                            Progressive   464            NaN
466                Country Garden Holdings   467            NaN
472                                 Altice   473            NaN
477                       Tencent Holdings   478            NaN
482                                  Aflac   483            NaN
484                  Suning Commerce Group   485            NaN
487                             Xiamen C&D   488            NaN
491                         Dollar General   492            NaN
493               Xiamen ITG Holding Group   494            NaN
494  Xinjiang Guanghui Industry Investment   495            NaN
495         Teva Pharmaceutical Industries   496            NaN
499                             AutoNation   500            NaN

If we want to select the first company from null_previous_rank df by integer position we can use df.iloc[]

We must use "iloc" if we try to use "loc" we will recieve a key error.

If we wanted to use "loc" we would have to select the integer value which is 48 in this case.

In [14]:
null_previous_rank = f500[f500["previous_rank"].isnull()][["company", "rank", "previous_rank"]]
first_null_prev_rank = null_previous_rank.iloc[0]
print(first_null_prev_rank)

company          Legal & General Group
rank                                49
previous_rank                      NaN
Name: 48, dtype: object

In [15]:
top5_null_prev_rank = null_previous_rank.iloc[:5]
print(top5_null_prev_rank)

                    company  rank  previous_rank
48    Legal & General Group    49            NaN
90                   Uniper    91            NaN
123       Dell Technologies   124            NaN
138  Anbang Insurance Group   139            NaN
140         Albertsons Cos.   141            NaN

Now we can use not null functionality to exclude null values from our calculation

In [16]:
f500["rank_change"] = f500["previous_rank"] - f500["rank"]
print(f500["rank_change"].head(5))
print(f500["rank_change"].tail(3))
print(f500["rank_change"].value_counts())

0    0.0
1    0.0
2    1.0
3   -1.0
4    3.0
Name: rank_change, dtype: float64
497   -61.0
498   -32.0
499     NaN
Name: rank_change, dtype: float64
-1.0      14
-4.0      13
-2.0      12
 8.0      12
 6.0      11
          ..
 93.0      1
 65.0      1
-199.0     1
 62.0      1
-32.0      1
Name: rank_change, Length: 152, dtype: int64

One line of code: rank_change = f500[f500["previous_rank"].notnull()]["previous_rank"] - f500[f500["previous_rank"].notnull()]["rank"]

In [17]:
previously_ranked = f500[f500["previous_rank"].notnull()]
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]

In [18]:
print(rank_change.shape)
print(rank_change.tail(3))

(467,)
496   -70.0
497   -61.0
498   -32.0
dtype: float64

Another way to accomplish this - without creating the new column first, assign it after the work has been done, verified and stored in a variable. Assign that variable to the new column created in the pd df.

In [19]:
previously_ranked = f500[f500["previous_rank"].notnull()]
rank_change = previously_ranked["previous_rank"] - previously_ranked["rank"]
f500["rank_change"] = rank_change

pandas	Python equivalent	Meaning

a & b	a and b	True if both a and b are True, else False

a | b	a or b	True if either a or b is True

~a	not a	True if a is False, else False

In [20]:
print(f500_selection)

                          rank  revenues  revenue_change
Walmart                      1    485873             0.8
State Grid                   2    315199            -4.4
Sinopec Group                3    267518            -9.1
China National Petroleum     4    262573           -12.3
Toyota Motor                 5    254694             7.7

In [21]:
f500_sel = f500[["company", "revenues", "country"]].head()
print(f500_sel)

                    company  revenues country
0                   Walmart    485873     USA
1                State Grid    315199   China
2             Sinopec Group    267518   China
3  China National Petroleum    262573   China
4              Toyota Motor    254694   Japan

Setting up some variables for Boolean comparison and using pd syntax to combine them - PD uses & instead of and

Since we are filtering for a specific country, we are specifiying which indexes to output and excluding country = we can also of done this with a variable

In [22]:
over_265 = f500_sel["revenues"] > 265000
china = f500_sel["country"] == "China"
combined = over_265 & china
result = f500_sel.loc[combined,["company", "revenues"]]

In [23]:
print(result)

         company  revenues
1     State Grid    315199
2  Sinopec Group    267518

We define our two variables revenue exceeding a billion (the dataset is in millions) and negative profits - we combine them and then we store the output in a variable

In [24]:
large_revenue = f500["revenues"] > 100000
negative_profits = f500["profits"] < 0
combined = large_revenue & negative_profits
big_rev_neg_profit = f500[combined]

In [25]:
print(big_rev_neg_profit)

                company  rank  revenues  revenue_change  profits   assets  \
32  Japan Post Holdings    33    122990             3.6   -267.4  2631385
44              Chevron    45    107567           -18.0   -497.0   260078

    profit_change               ceo                         industry  \
32         -107.5  Masatsugu Nagato  Insurance: Life, Health (stock)
44         -110.8    John S. Watson               Petroleum Refining

        sector  previous_rank country    hq_location                  website  \
32  Financials           37.0   Japan   Tokyo, Japan  http://www.japanpost.jp
44      Energy           31.0     USA  San Ramon, CA   http://www.chevron.com

    years_on_global_500_list  employees  total_stockholder_equity  rank_change
32                        21     248384                     91532          4.0
44                        23      55200                    145556        -14.0

In [26]:
filter_brazil_venezula = (f500["country"] == "Brazil") | (f500["country"] == "Venezuela")
filter_tech_outside_usa = (f500["sector"] == "Technology") & ~((f500["country"] == "USA"))
brazil_venezuela = f500[filter_brazil_venezula]
tech_outside_usa = f500[filter_tech_outside_usa].head()

In [27]:
print(brazil_venezuela)

                             company  rank  revenues  revenue_change  profits  \
74                         Petrobras    75     81405           -16.3  -4838.0
112            Itau Unibanco Holding   113     66876            21.4   6666.4
150                  Banco do Brasil   151     58093           -13.4   2013.8
153                   Banco Bradesco   154     57443            31.3   5127.9
190                              JBS   191     48825            -0.1    107.7
369                             Vale   370     29363            14.7   3982.0
441  Mercantil Servicios Financieros   442     24403            50.3   2004.2
486                Ultrapar Holdings   487     22167            -2.3    447.5

     assets  profit_change                        ceo  \
74   246983            NaN       Pedro Pullen Parente
112  415972          -13.7    Candido Botelho Bracher
150  426416          -52.3   Paulo Rogerio Caffarelli
153  366418           -5.7  Luiz Carlos Trabuco Cappi
190   31605          -92.3    Wesley Mendonca Batista
369   99014            NaN          Fabio Schvartsman
441  148659          -10.5      Gustavo J. Vollmer A.
486    7426           -0.8            Thilo Mannhardt

                          industry                     sector  previous_rank  \
74              Petroleum Refining                     Energy           58.0
112  Banks: Commercial and Savings                 Financials          159.0
150  Banks: Commercial and Savings                 Financials          115.0
153  Banks: Commercial and Savings                 Financials          209.0
190                Food Production  Food, Beverages & Tobacco          185.0
369   Mining, Crude-Oil Production                     Energy          417.0
441  Banks: Commercial and Savings                 Financials            NaN
486                         Energy                     Energy          474.0

       country             hq_location                        website  \
74      Brazil  Rio de Janeiro, Brazil    http://www.petrobras.com.br
112     Brazil       Sao Paulo, Brazil         http://www.itau.com.br
150     Brazil        Brasilia, Brazil           http://www.bb.com.br
153     Brazil          Osasco, Brazil     http://www.bradesco.com.br
190     Brazil       Sao Paulo, Brazil  http://jbss.infoinvest.com.br
369     Brazil  Rio de Janeiro, Brazil            http://www.vale.com
441  Venezuela      Caracas, Venezuela             http://www.msf.com
486     Brazil       Sao Paulo, Brazil        http://www.ultra.com.br

     years_on_global_500_list  employees  total_stockholder_equity  \
74                         23      68829                     76779
112                         4      94779                     37680
150                        23     100622                     26551
153                        21      94541                     32369
190                         8     237061                      7307
369                        11      73062                     39042
441                         1       8370                      7550
486                         8      15173                      2621

     rank_change
74         -17.0
112         46.0
150        -36.0
153         55.0
190         -6.0
369         47.0
441          NaN
486        -13.0

This allows us to identify the companies with the most employees in China but by default sort_values() method sorts in ascending

In [28]:
selected_rows = f500[f500["country"] == "China"]
sorted_rows = selected_rows.sort_values("employees")
print(sorted_rows[["company", "country", "employees"]].head())

                                company country  employees
204                         Noble Group   China       1000
458             Yango Financial Holding   China      10234
438  China National Aviation Fuel Group   China      11739
128                         Tewoo Group   China      17353
182            Amer International Group   China      17852

By adding ascending=false to the sort_values's parameter, the output is returned in descnding order (which is what we wanted to identify the companies in China with the most employees.

In [29]:
selected_rows = f500[f500["country"] == "China"]
sorted_rows = selected_rows.sort_values("employees", ascending=False)
print(sorted_rows[["company", "country", "employees"]].head())

                        company country  employees
3      China National Petroleum   China    1512048
118            China Post Group   China     941211
1                    State Grid   China     926067
2                 Sinopec Group   China     713288
37   Agricultural Bank of China   China     501368

Tail is not as effective as setting ascending=falseeven though we get the same output because of the order.

In [30]:
selected_rows = f500[f500["country"] == "China"]
sorted_rows = selected_rows.sort_values("employees")
print(sorted_rows[["company", "country", "employees"]].tail())

                        company country  employees
37   Agricultural Bank of China   China     501368
2                 Sinopec Group   China     713288
1                    State Grid   China     926067
118            China Post Group   China     941211
3      China National Petroleum   China    1512048

Now we are going to identify the top japanese employer and only output the company name.

In [32]:
selected_rows = f500[f500["country"] == "Japan"]
sorted_rows = selected_rows.sort_values("employees", ascending=False)
top_japanese_employer = sorted_rows.iloc[0]["company"]
print(top_japanese_employer)

Toyota Motor

Using Loops in Pandas pd - Pandas uses vectorized methods to work with data more efficiently but loops can still be used and are often used for aggregation.

In [33]:
# Create an empty dictionary to store the results
avg_rev_by_country = {}

# Create an array of unique countries
countries = f500["country"].unique()

# Use a for loop to iterate over the countries
for c in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    selected_rows = f500[f500["country"] == c]
    # Calculate the mean average revenue for just those rows
    mean = selected_rows["revenues"].mean()
    # Assign the mean value to the dictionary, using the
    # country name as the key
    avg_rev_by_country[c] = mean

In [34]:
print(avg_rev_by_country)

{'USA': 64218.371212121216, 'China': 55397.880733944956, 'Japan': 53164.03921568627, 'Germany': 63915.0, 'Netherlands': 61708.92857142857, 'Britain': 51588.708333333336, 'South Korea': 49725.6, 'Switzerland': 51353.57142857143, 'France': 55231.793103448275, 'Taiwan': 46364.666666666664, 'Singapore': 54454.333333333336, 'Italy': 51899.57142857143, 'Russia': 65247.75, 'Spain': 40600.666666666664, 'Brazil': 52024.57142857143, 'Mexico': 54987.5, 'Luxembourg': 56791.0, 'India': 39993.0, 'Malaysia': 49479.0, 'Thailand': 48719.0, 'Australia': 33688.71428571428, 'Belgium': 45905.0, 'Norway': 45873.0, 'Canada': 31848.0, 'Ireland': 32819.5, 'Indonesia': 36487.0, 'Denmark': 35464.0, 'Saudi Arabia': 35421.0, 'Sweden': 27963.666666666668, 'Finland': 26113.0, 'Venezuela': 24403.0, 'Turkey': 23456.0, 'U.A.E': 22799.0, 'Israel': 21903.0}

In [40]:
# Create an empty dictionary to store the results
avg_rank_by_country = {}

# Create an array of unique countries
countries = f500["country"].unique()

# Use a for loop to iterate over the countries
for c in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    selected_rows = f500[f500["country"] == c]
    # Calculate the mean average revenue for just those rows
    mean = selected_rows["rank"].mean()
    # Assign the mean value to the dictionary, using the
    # country name as the key
    avg_rank_by_country[c] = mean

In [41]:
print(avg_rank_by_country)

{'USA': 231.99242424242425, 'China': 252.52293577981652, 'Japan': 241.66666666666666, 'Germany': 205.9655172413793, 'Netherlands': 273.2857142857143, 'Britain': 269.9166666666667, 'South Korea': 274.73333333333335, 'Switzerland': 262.64285714285717, 'France': 228.13793103448276, 'Taiwan': 325.1666666666667, 'Singapore': 249.33333333333334, 'Italy': 238.71428571428572, 'Russia': 138.75, 'Spain': 293.22222222222223, 'Brazil': 220.14285714285714, 'Mexico': 164.0, 'Luxembourg': 156.0, 'India': 267.7142857142857, 'Malaysia': 184.0, 'Thailand': 192.0, 'Australia': 330.42857142857144, 'Belgium': 206.0, 'Norway': 207.0, 'Canada': 347.27272727272725, 'Ireland': 329.25, 'Indonesia': 289.0, 'Denmark': 298.0, 'Saudi Arabia': 299.0, 'Sweden': 400.6666666666667, 'Finland': 415.0, 'Venezuela': 442.0, 'Turkey': 463.0, 'U.A.E': 480.0, 'Israel': 496.0}

To find the top employer by country first we create an empty dictionary.
We then create a array that has all the unique country values from our dataset.
We use a for loop to iterate through each unique country and store in our dictionary the entry for each country that has the most employees using the sort_values method. 
The top employer for each country is located at the 0 position since we are in descinding order. 
We then take the entry in country with the most employees and add the corresponding company name.

Top_employer_by_country includes our country value and then takes the first entry (descinding) for most employees and the corresponding company name.

In [52]:
# Create an empty dictionary to store the results
top_employer_by_country = {}

# Create an array of unique countries
countries = f500["country"].unique()

# Use a for loop to iterate over the countries
for c in countries:
    # Use boolean comparison to select only rows that
    # correspond to a specific country
    selected_rows = f500[f500["country"] == c]
    sorted_rows = selected_rows.sort_values("employees", ascending=False)
    top_employer = sorted_rows.iloc[0]
    employer_name = top_employer["company"]
    top_employer_by_country[c] = employer_name

In [53]:
print(top_employer_by_country)

{'USA': 'Walmart', 'China': 'China National Petroleum', 'Japan': 'Toyota Motor', 'Germany': 'Volkswagen', 'Netherlands': 'EXOR Group', 'Britain': 'Compass Group', 'South Korea': 'Samsung Electronics', 'Switzerland': 'Nestle', 'France': 'Sodexo', 'Taiwan': 'Hon Hai Precision Industry', 'Singapore': 'Flex', 'Italy': 'Poste Italiane', 'Russia': 'Gazprom', 'Spain': 'Banco Santander', 'Brazil': 'JBS', 'Mexico': 'America Movil', 'Luxembourg': 'ArcelorMittal', 'India': 'State Bank of India', 'Malaysia': 'Petronas', 'Thailand': 'PTT', 'Australia': 'Wesfarmers', 'Belgium': 'Anheuser-Busch InBev', 'Norway': 'Statoil', 'Canada': 'George Weston', 'Ireland': 'Accenture', 'Indonesia': 'Pertamina', 'Denmark': 'Maersk Group', 'Saudi Arabia': 'SABIC', 'Sweden': 'H & M Hennes & Mauritz', 'Finland': 'Nokia', 'Venezuela': 'Mercantil Servicios Financieros', 'Turkey': 'Koc Holding', 'U.A.E': 'Emirates Group', 'Israel': 'Teva Pharmaceutical Industries'}

To find the top companies by ROA first we need to calculate ROA (profits / assets). We create a new column in our df that has these values.

We now create an empty dictonary to store the output of our for loop.
The for loop is looking at all the sector values in the sector column. It now checks all the sector values and sorts them by highest ROA and takes the top value (since ascending is false, it is in the iloc[0] position.

We then store the corresponding company for each each sector's highest ROA company.

In [70]:
f500["roa"] = f500["profits"] / f500["assets"]
top_roa_by_sector = {}
for sector in f500["sector"].unique():
    is_sector = f500["sector"] == sector
    sector_companies = f500.loc[is_sector]
    top_company = sector_companies.sort_values("roa",ascending=False).iloc[0]
    company_name = top_company["company"]
    top_roa_by_sector[sector] = company_name

In [71]:
print(top_roa_by_sector)

{'Retailing': 'H & M Hennes & Mauritz', 'Energy': 'National Grid', 'Motor Vehicles & Parts': 'Subaru', 'Financials': 'Berkshire Hathaway', 'Technology': 'Accenture', 'Wholesalers': 'McKesson', 'Health Care': 'Gilead Sciences', 'Telecommunications': 'KDDI', 'Engineering & Construction': 'Pacific Construction Group', 'Industrials': '3M', 'Food & Drug Stores': 'Publix Super Markets', 'Aerospace & Defense': 'Lockheed Martin', 'Food, Beverages & Tobacco': 'Philip Morris International', 'Household Products': 'Unilever', 'Transportation': 'Delta Air Lines', 'Materials': 'CRH', 'Chemicals': 'LyondellBasell Industries', 'Media': 'Disney', 'Apparel': 'Nike', 'Hotels, Restaurants & Leisure': 'McDonaldâ€™s', 'Business Services': 'Adecco Group'}